$white: #fff;
$blue: #fff;
$theme: #502387;
$darkTheme: #301551;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    font-family:Helvetica, Arial, sans-serif;
	width:100%;
	height:100%;
    font-size:70%;
    padding: 0;
    margin: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    display:block;
	width:100%;
	height:250px;
    cursor: pointer;
    border: 1px solid #cccccc;
    background: $theme;
    color:#fff;
    text-decoration:none;
    div,
    img {
        position: absolute;
    }
}
    
h1 {
    position:absolute;
	text-shadow:1px 1px 3px #000;
}
h2 {
	width:100%;
	position:absolute;
	font-weight:normal;
}
img {
	position:absolute;
}
p {
	position:absolute;
	text-shadow:1px 1px 4px #000;
}
/* 250 PIXELS HIGH */
@media only screen and (height:250px) {
	h1 {
		width:100%;
		top:2px;
		height:50px;
		line-height:22px;
		left:0;
		font-size:1.4em;
		text-align:center;
	}
	h1 span {
		display:block;
	}
	h2 {
		display:block;
		left:0;
		top:50px;
		height:50px;
		line-height:25px;
		text-align:center;
		font-size:1.3em;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		-ms-border-radius:0;
		-o-border-radius:0;
		border-radius:0;
		z-index:100;
	}
	h2 span {
		display:block;
	}
	img {
		height:150px;
		bottom:0;
		right:0;
	}
	p {
		left:4%;
		bottom:6px;
		font-size:1.1em;
		width:92%;
		line-height:1.4em;
	}
	p span {
		display:block;
	}
}

@media only screen and (height:250px) and (min-width:300px) {
	h1 {
		height:120px;
		line-height:63px;
		font-size:3.5em;
	}
	h2 {
		top:130px;
		height:60px;
		line-height:30px;
		font-size:1.4em;
		text-align:left;
		padding-left:120px;
	}
	h2 span {
		display:block;
	}
	img {
		height:120px;
		width:auto;
		right:auto;
		z-index:200;
	}
	p {
		width:100%;
		left:auto;
		padding-left:120px;
		font-size:1.2em;
	}
}
@media only screen and (height:250px) and (min-width:600px) {
	h1 {
		height:120px;
		line-height:120px;
		font-size:4em;
	}
	h1 span {
		display:inline;
	}
	h2 {
		text-align:center;
		padding:0;
		line-height:60px;
		font-size:2.5em;
	}
	h2 span {
		display:inline;
	}
}
@media only screen and (min-width:820px) {
	h1 {
		font-size:6em;
	}
}



#bgExit {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
