$white: #fff;
$blue: #fff;
$theme: #502387;
$darkTheme: #301551;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    font-family:Helvetica, Arial, sans-serif;
	width:100%;
	height:100%;
    font-size:70%;
    padding: 0;
    margin: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    display:block;
	width:100%;
	height:250px;
    cursor: pointer;
    border: 1px solid #cccccc;
    background: $theme;
    color:#fff;
    text-decoration:none;
    div,
    img {
        position: absolute;
    }
}
.hide {
    opacity: 0;
}
#copyOne {
    position:absolute;
    text-shadow:1px 1px 3px #000;
}
#copyTwo {
	width:100%;
	position:absolute;
	font-weight:normal;
}
#logo {
    position:absolute;
    width: 75px;
    top: 0;
}
#cta {
	position:absolute;
	width: 100px;
    height: 22px;
    background: $darkTheme;
}
/* 250 PIXELS HIGH */
@media only screen and (height:250px) {
	#copyOne {
		width:100%;
		top:2px;
		height:50px;
		line-height:22px;
		left:0; 
		font-size:1.4em;
		text-align:center;
	}
	#copyOne span {
		display:block;
	}
	#copyTwo {
		display:block;
		left:0;
		top:50px;
		height:50px;
		line-height:25px;
		text-align:center;
		font-size:1.3em;
	}
	#copyTwo span {
		display:block;
	}
	#logo {
		width: 75px;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
	}
	#cta {
		left:4%;
		bottom:6px;
		font-size:1.1em;
		width:92%;
		line-height:1.4em;
	}
	#cta span {
		display:block;
	}
}

@media only screen and (height:250px) and (min-width:300px) {
	#copyOne {
		height:120px;
		line-height:63px;
		font-size:3.5em;
	}
	#copyTwo {
		top:130px;
		height:60px;
		line-height:30px;
		font-size:1.4em;
		text-align:left;
		padding-left:120px;
	}
	#copyTwo span {
		display:block;
	}
	#cta {
		width:100%;
		left:auto;
		padding-left:120px;
		font-size:1.2em;
	}
}
@media only screen and (height:250px) and (min-width:600px) {
	#copyOne {
		height:120px;
		line-height:120px;
		font-size:4em;
	}
	#copyOne span {
		display:inline;
	}
	#copyTwo {
		text-align:center;
		padding:0;
		line-height:60px;
		font-size:2.5em;
	}
	#copyTwo span {
		display:inline;
    }
    #logo {
		width:75px;
		right:0;
        top: 50%;
        transform: translateX(0) translateY(-50%);
	}
}
@media only screen and (min-width:820px) {
	#copyOne {
		font-size:6em;
    }
    
}



#bgExit {
    // width: 100%;
    // height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
