@import "_settings";

$white: #fff;
$blue: #fff;
$theme: #502387;
$darkTheme: #301551;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    font-family:Helvetica, Arial, sans-serif;
	width:100%;
	height:100%;
    font-size:70%;
    padding: 0;
    margin: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    display:block;
	width:100%;
	height:250px;
    cursor: pointer;
    border: 1px solid #cccccc;
    background: $theme;
    color:#fff;
    text-decoration:none;
    div,
    img {
        position: absolute;
    }
}

#bgExit {
    width: $width;
    height: $height;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
