$white: #fff;
$blue: #fff;
$theme: #502387;
$darkTheme: #301551;

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    font-family:Helvetica, Arial, sans-serif;
	width:100%;
	height:100%;
	font-size: 0;
    padding: 0;
    margin: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    display:block;
	width:100%;
	height:250px;
	font-size: 1rem;
    cursor: pointer;
    border: 1px solid #cccccc;
    background: $theme;
    color:#fff;
	text-decoration:none;
	text-align: center;
    div,
    img {
        position: absolute;
    }
}
.hide {
    opacity: 0;
}
#copyOne {
	text-shadow:1px 1px 3px #000;
	font-weight: 700;
}
#copyTwo {
	width:100%;
	font-weight:normal;
}
#logo {
    width: 75px;
    top: 0;
}
#cta {
	width: 100px;
    height: 22px;
    background: $darkTheme;
}
/* 250 PIXELS HIGH */
@media only screen and (height:250px) {
	#copyOne {
		width:100%;
		height:50px;
		top:104px;
		left:0;
	}
	#copyOne span {
		display:block;
	}
	#copyTwo {
		top: 50px;
	}
	#copyTwo span {
		display:block;
	}
	#logo {
		width: 75px;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
	}
	#cta {
		left:50%;
		bottom:10px;
		width:150px;
		height: 50px;
		transform: translateX(-50%);
	}
	#cta span {
		display:block;
	}
}

@media only screen and (height:250px) and (min-width:300px) {
	#copyOne {
		height:120px;
		font-size:2rem;
	}
	#copyTwo {
		top:100px;
		font-size: 1.5rem;
	}
	#copyTwo span {
		display: block;
	}
	#cta {
		
	}
}
// @media only screen and (height:250px) and (min-width:600px) {
// 	#copyOne {
// 		height:120px;
// 	}
// 	#copyOne span {
// 		display:inline;
// 	}
// 	#copyTwo {
// 		padding:0;
// 	}
// 	#copyTwo span {
// 		display:inline;
//     }
//     #logo {
// 		width:75px;
//         left:auto;
//         right:0;
//         top: 50%;
//         transform: translateX(0) translateY(-50%);
// 	}
// }
// @media only screen and (min-width:820px) {
// 	#copyOne {
		
//     }
    
// }



#bgExit {
    // width: 100%;
    // height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
