$white: #fff;
$theme: #502387;
$darkTheme: #301551;
$width: calc(100% - 75px);
$widthExtended: calc(100% - 100px);

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    font-family:Helvetica, Arial, sans-serif;
	width:100%;
	height:100%;
	font-size: 0;
    padding: 0;
    margin: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    display:block;
	width:100%;
	height:250px;
	font-size: 1rem;
    cursor: pointer;
    border: 1px solid #cccccc;
    background: $theme;
    color:#fff;
	text-decoration:none;
	text-align: center;
    div,
    img {
        position: absolute;
    }
}
.hide {
    opacity: 0;
}
#copyOne {
	text-shadow:1px 1px 3px #000;
	font-weight: 700;
}
#copyTwo {
	width:100%;
	font-weight:normal;
}
#logo {
    width: 75px;
    top: 0;
}
#ctaContainer{
	width: 100%;
	height: 32px;
}
#cta {
    background: $darkTheme;
}
/* 250 PIXELS HIGH */
@media only screen and (height:250px) {
	#copyOne {
		width:100%;
		height:50px;
		top:104px;
		left:0;
	}
	#copyOne span {
		display:block;
	}
	#copyTwo {
		top:100px;
	}
	#copyTwo span {
		display:block;
	}
	#logo {
		width: 75px;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
	}
	#ctaContainer{
		width: 100%;
		height: 32px;
		bottom: 20px;
	}
	#cta {
		width:130px;
		height: 32px;
		left:50%;
		line-height: 2em;
		transform: translateX(-50%);
	}
	#cta span {
		display:block;
	}
}

@media only screen and (height:250px) and (min-width:300px) {
	#copyOne {
		font-size:2rem;
	}
	#copyTwo {
		top:100px;
		font-size: 1.5rem;
	}
	#copyTwo span {
		display: block;
	}
	#cta {
		width:130px;
		height: 32px;
	}
}
/*
@media only screen and (height:250px) and (min-width:600px) {
	#copyOne {
		top:94px;
		font-size:2.5rem;
		width: $width;
	}
	#copyOne span {
		display:inline;
	}
	#copyTwo {
		top: 60px;
		font-size:2rem;
		width: $width;
	}
	#copyTwo span {
		display:inline;
	}
	#ctaContainer{
		width: $width;
		bottom: 60px;
		height: 45px;
	}
	#cta{
		font-size: 1.5rem;
		line-height: 2em;
		width: 200px;
		height: 45px;
	}
    #logo {
		width:75px;
        left:auto;
        right:0;
        top: 50%;
        transform: translateX(0) translateY(-50%);
	}
}
*/
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (orientation: portrait) {


	#mainContent {
		width: 100%;
		height: 640px;
	}
	#copyOne {
		width: 100%;
		font-size:2rem;
		top: 300px;
	}
	#copyOne span{
		display: block;
	}
	#copyTwo {
		top:100px;
		font-size: 1.5rem;
	}
	#copyTwo span {
		display: block;
	}
	#ctaContainer {
		width: 100%;
		height: 32px;
		bottom: 100px;
	}
	#cta {
		width:130px;
		height: 32px;
		left:50%;
		line-height: 2em;
		transform: translateX(-50%);
	}
}
@media only screen and (min-width:970px) {
	#copyOne {
		top:94px;
		font-size:2.5rem;
		width: $widthExtended;
	}
	#copyOne span {
		display:inline;
	}
	#copyTwo {
		top: 60px;
		font-size:2rem;
		width: $widthExtended;
	}
	#copyTwo span {
		display:inline;
	}
	#ctaContainer{
		width: $widthExtended;
		bottom: 60px;
		height: 45px;
	}
	#cta{
		font-size: 1.5rem;
		line-height: 2em;
		width: 200px;
		height: 45px;
	}
    #logo {
		width:100px;
        left:auto;
        right:0;
        top: 50%;
        transform: translateX(0) translateY(-50%);
	}
    
}



#bgExit {
    // width: 100%;
    // height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
