$white: #fff;
$blue: #fff;
$theme: #502387;
$darkTheme: #301551;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    width: $width;
    height: $height;
    cursor: pointer;
    border: 1px solid #cccccc;
    background: $theme;
    box-sizing: border-box;
    div,
    img {
        position: absolute;
    }
}

.hide {
    opacity: 0;
}
