@import "_settings";
@import "_config";
body {
    margin: 0;
    padding: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    width: $width;
    height: $height;
    cursor: pointer;
    border: 1px solid #cccccc;
    background: $theme;
    box-sizing: border-box;
    div,
    img {
        position: absolute;
    }
}

.hide {
    opacity: 0;
}

#animationContainer { 
  top: -149px;
  left: -245px;
  transform: scale(1);
}

#logo {
    width:75px;
    height:75px;
    top: -1px;
    left: 111px;
}

#premiumBox {
    width: 120px;
    height: 31px;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    background: $theme;
    opacity: 0;
    img {
        left: 0px;
        top: 0px;
    }
}

#copyOne {
   width: 260px;
    height: 46px;
    top: 0px;
    left:50%;
    transform: translateX(-50%);
    background: $theme;
    img {
        top: 1px;
    left: 1px;
    }
}

#copyTwo {
    width: 207px;
    height: 73px;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    background: $theme;
    img {
        top: 0;
    }
}

#lightBg {
    width: $width;
    height: $height;
    background: $theme;
    transform: translateX(-300px);
}

#copyFour,#copyFive {
    top: 124px;
    left: 50%;
    transform: translateX(-50%);
}

#cta {
    width: 146px;
    height: 33px;
    top: 193px;
    left: 76px;
    background: $darkTheme;
}

#ctaCopyOne,#ctaCopyTwo{
    top: 10px;
    left: 9px;
}

#arrow {
    top: 11px;
    right: 8px;
    transform: rotate(0.01deg);
}

#bgExit {
    width: $width;
    height: $height;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}