$white: #fff;
$blue: #fff;
$theme: #502387;
$darkTheme: #301551;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    font-family:Helvetica, Arial, sans-serif;
	width:100%;
	height:100%;
    font-size:70%;
    padding: 0;
    margin: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    display:block;
	width:100%;
	height:100%;
    cursor: pointer;
    border: 1px solid #cccccc;
    background: $theme;
    color:#fff;
    div,
    img {
        position: absolute;
    }
}

.hide {
    opacity: 0;
}
