html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 0;
  padding: 0;
  margin: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 250px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #cccccc;
  background: #502387;
  color: #fff;
  text-decoration: none;
  text-align: center; }
  #mainContent div,
  #mainContent img {
    position: absolute; }

.hide {
  opacity: 0; }

#copyOne {
  text-shadow: 1px 1px 3px #000;
  font-weight: 700; }

#copyTwo {
  width: 100%;
  font-weight: normal; }

#logo {
  width: 75px;
  top: 0; }

#ctaContainer {
  width: 100%;
  height: 32px; }

#cta {
  background: #301551; }

/* 250 PIXELS HIGH */
@media only screen and (height: 250px) {
  #copyOne {
    width: 100%;
    height: 50px;
    top: 104px;
    left: 0; }
  #copyOne span {
    display: block; }
  #copyTwo {
    top: 100px; }
  #copyTwo span {
    display: block; }
  #logo {
    width: 75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0; }
  #ctaContainer {
    width: 100%;
    height: 32px;
    bottom: 20px; }
  #cta {
    width: 130px;
    height: 32px;
    left: 50%;
    line-height: 2em;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  #cta span {
    display: block; } }

@media only screen and (height: 250px) and (min-width: 300px) {
  #copyOne {
    font-size: 2rem; }
  #copyTwo {
    top: 100px;
    font-size: 1.5rem; }
  #copyTwo span {
    display: block; }
  #cta {
    width: 130px;
    height: 32px; } }

/*
@media only screen and (height:250px) and (min-width:600px) {
	#copyOne {
		top:94px;
		font-size:2.5rem;
		width: $width;
	}
	#copyOne span {
		display:inline;
	}
	#copyTwo {
		top: 60px;
		font-size:2rem;
		width: $width;
	}
	#copyTwo span {
		display:inline;
	}
	#ctaContainer{
		width: $width;
		bottom: 60px;
		height: 45px;
	}
	#cta{
		font-size: 1.5rem;
		line-height: 2em;
		width: 200px;
		height: 45px;
	}
    #logo {
		width:75px;
        left:auto;
        right:0;
        top: 50%;
        transform: translateX(0) translateY(-50%);
	}
}
*/
@media screen and (device-width: 360px) and (device-height: 640px) {
  #mainContent {
    width: 100%;
    height: 640px; }
  #copyOne {
    width: 100%;
    font-size: 3rem;
    top: 270px; }
  #copyOne span {
    display: block; }
  #copyTwo {
    top: 250px;
    font-size: 2rem; }
  #copyTwo span {
    display: block; }
  #ctaContainer {
    width: 100%;
    height: 32px;
    bottom: 100px; }
  #logo {
    width: 75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  #cta {
    width: 130px;
    height: 32px;
    left: 50%;
    line-height: 2em;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); } }

@media screen and (device-width: 640px) and (device-height: 360px) {
  #mainContent {
    width: 100%;
    height: 360px; }
  #copyOne {
    width: 100%;
    font-size: 2.5rem;
    top: 160px; }
  #copyOne span {
    display: inline; }
  #copyTwo {
    top: 150px;
    font-size: 2rem; }
  #copyTwo span {
    display: inline; }
  #ctaContainer {
    width: 100%;
    height: 32px;
    bottom: 50px; }
  #logo {
    width: 75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  #cta {
    width: 130px;
    height: 32px;
    left: 50%;
    line-height: 2em;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); } }

@media only screen and (min-width: 970px) {
  #copyOne {
    top: 94px;
    font-size: 2.5rem;
    width: calc(100% - 100px); }
  #copyOne span {
    display: inline; }
  #copyTwo {
    top: 60px;
    font-size: 2rem;
    width: calc(100% - 100px); }
  #copyTwo span {
    display: inline; }
  #ctaContainer {
    width: calc(100% - 100px);
    bottom: 60px;
    height: 45px; }
  #cta {
    font-size: 1.5rem;
    line-height: 2em;
    width: 200px;
    height: 45px; }
  #logo {
    width: 100px;
    left: auto;
    right: 0;
    top: 50%;
    -webkit-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%); } }

#bgExit {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer; }

.info {
  bottom: 0;
  left: 0;
  text-align: left;
  font-size: .6rem;
  color: rgba(255, 255, 255, 0.2); }
